block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)

  body(class=pageClass)
    section
      .container
        h1 Jade - node template engine
        p You are amazing
        p
          | Jade is a terse and simple
          | templating language with a
          | strong focus on performance
          | and powerful features.
