@import "mixins"
@import "fonts"
@import "vars"
@import "reset"

body
  font-family: $mainFont
  color: $mainFontColor
  font-size: $mainFontSize
  font-weight: $mainFontWeight
  line-height: $mainLineHeight
  min-width: $xs
  position: relative
  overflow-x: hidden

h1
  color: red

h2
  color: red

.wrapper
  text-align: center
